<%= form_with(model: pallet, local: true) do |form| %>
  <% if pallet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pallet.errors.count, "error") %> prohibited this pallet from being saved:</h2>

      <ul>
        <% pallet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
